
.mb-4 {
	color: #28a745;
}

.mb-3 {
	margin-right:1rem;
	margin-top: 50;
	background-color: #bfbfbf;
	display: block;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #bfbfbf;
	
}

h6 {
    margin-top: 0;
}

.dashboard-component {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 3px;
  padding: 8px;
  position: relative;
  box-shadow: 2px 2px 2px darkgrey;
  height: 97%;
}

.dashboard-tabs {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 3px;
  padding: 8px;
  position: relative;
  box-shadow: 2px 2px 2px darkgrey;
}

.main-layout {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* The Modal (background) */
.modal {
  display: none; /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1005; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}


.graph-medium {
  min-width: 500px;
}


/* Modal Content/Box */
.markdown-container {
  width: 60vw;
  margin: 10% auto;
  padding: 10px 15px;
  background-color: #2d3038;
}

.markdown-text {
    color: #C4CDD5;
}


.close-container {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 40px;
}

.closeButton {
  padding: 0 15px;
  font-weight: normal;
  float: right;
  height: 100%;
  border: none;
  color: #fff;
}

.closeButton:hover {
  color: #91dfd2;
}

.app__container {
    margin: 3% 5%;
}

.app__header {
    color: #000;
}

.banner-sam {
	display: flex;
	flex-direction:row;
	#table-layout: fixed;
	width: 100%;
}

.app__header__title {
  text-align: left;
  margin-right: 50px;
}

.app__header__title--grey {
    color: #C4CDD5;
}

.app_button {
  background-color: #4CAF50; /* Green */
  color: white;
  cursor: pointer;
}

.notification {
  color: #fff;
  background-color: darkgray;
}

.banner_button {
  float: right;
  border-color: black;
  color: black;
  margin-right: 10px;
  margin-top: 5px;
}

.app__menu__img {
    height: 40px;
    width: 40px;
	float:left;
}


.tabs {
  padding: 0px;
  margin: 0px;
}

.custom-tabs {
  background-color: #1E2130;
  #text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  height: fit-content;
  cursor: pointer;
}

.settings-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex;
  width: 800px;
}

.pvi-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  min-width: 130px;
}

.columns1 {
    width: 100% !important;
    float: none;
    margin: 0.25rem 0 !important;
    padding-right: 10%;
    position: relative;
    min-width: 80px;
  }

.columns {
    width: 100% !important;
    float: none;
    margin: 0.25rem 0 !important;
    padding-right: 10%;
    position: relative;
  }



.app__content {
    display: flex;
    margin-top: 20px;
}

.wind__speed__container {
    display: flex;
    flex-direction: column;
    background-color: #082255;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.graph__title {
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 25px 25px 0px 25px;
    margin-bottom: 0px !important;
    font-size: 4em;
}

.slider {
    padding: 15px;
}

.auto__checkbox {
    margin-right: 10px;
}

.auto__label {
    color: #DFE3E8;
}

.auto__container {
    display: flex;
    justify-content: space-between;
    color: #DFE3E8;
    padding: 0px 15px;
}

.auto__p {
    margin-bottom: 0;
}

.graph__container {
    background-color: #082255;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.first {
    margin-bottom: 15px;
}

.second {
    margin-top: 15px;
}

.settings-panel-header {
  font-weight: bold;
  color: darkgray;
  line-height: 1;
  padding: 2rem 0;
  border-bottom: 1px solid #4b5460;
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(50, 50, 50); }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300; }
h1 { font-size: 4.5rem; line-height: 1.2;  letter-spacing: -.1rem; margin-bottom: 2rem; }
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; margin-bottom: 1.8rem; margin-top: 1.8rem;}
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; margin-bottom: 1.5rem; margin-top: 1.5rem;}
h4 { font-size: 2.6rem; line-height: 1.35; letter-spacing: -.08rem; margin-bottom: 1.2rem; margin-top: 1.2rem;}
h5 { font-size: 2.2rem; line-height: 1.5;  letter-spacing: -.05rem; margin-bottom: 0.6rem; margin-top: 0.6rem;}
h6 { font-size: 2.0rem; line-height: 1.6;  letter-spacing: 0; margin-bottom: 0.75rem; margin-top: 0.75rem;}

p {
  margin-top: 0; }


